<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="theme-color" content="#0062EE">

    <title>Web TLS Profiler</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>

    <!-- Material design library -->
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <script src="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <header class="mdc-top-app-bar">
      <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
          <span class="mdc-top-app-bar__title">Web TLS Profiler</span>
        </section>
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-end" role="toolbar">
          <a href="https://danielfett.de/imprint/" class="mdc-top-app-bar__action-item" aria-label="Impressum">Imprint and privacy policy</a>
    </section>
      </div>
    </header>

    <div class="row custom-row mdc-top-app-bar--fixed-adjust">
        
        <div class="col-12 col-md-3 custom-col">
            <div class="mdc-card custom-card">
                <h2>Scan Domain</h2>
                <small>Current estimated wait time: {{ waiting_scans }} minute(s)</small>

                <div class="custom-form">
                    <label class="mdc-text-field form-element">
                        <div class="mdc-text-field__ripple"></div>
                        <input id="domain" class="mdc-text-field__input" type="text" value="{{ domain_name|default_if_none:"" }}" aria-labelledby="my-label-id">
                        <span class="mdc-floating-label {% if domain_name %} mdc-floating-label--float-above {% endif %}" id="my-label-id">Enter domain</span>
                        <div class="mdc-line-ripple"></div>
                    </label>

                    <div class="mdc-select">
                        <div class="mdc-select__anchor form-element">
                            <i class="mdc-select__dropdown-icon"></i>
                            <div class="mdc-select__selected-text"></div>
                            <span class="mdc-floating-label">Choose a Mozilla TLS Profile:</span>
                            <div class="mdc-line-ripple"></div>
                        </div>

                        <div class="mdc-select__menu mdc-menu mdc-menu-surface form-element">
                            <ul class="mdc-list">
                                <li class="mdc-list-item {% if profile_name == "modern" %} mdc-list-item--selected {% endif %}" data-value="modern" aria-selected="true">
                                    Modern
                                </li>
                                <li class="mdc-list-item {% if profile_name == "intermediate" %} mdc-list-item--selected {% endif %}" data-value="intermediate">
                                    Intermediate
                                </li>
                                <li class="mdc-list-item {% if profile_name == "old" %} mdc-list-item--selected {% endif %}" data-value="old">
                                    Old
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="mdc-form-field">
                      <div class="mdc-checkbox">
                        <input type="checkbox"
                               class="mdc-checkbox__native-control" checked="checked"
                               id="is_public" name="is_public" />
                        <div class="mdc-checkbox__background">
                          <svg class="mdc-checkbox__checkmark"
                               viewBox="0 0 24 24">
                            <path class="mdc-checkbox__checkmark-path"
                                  fill="none"
                                  d="M1.73,12.91 8.1,19.28 22.79,4.59"/>
                          </svg>
                          <div class="mdc-checkbox__mixedmark"></div>
                        </div>
                        <div class="mdc-checkbox__ripple"></div>
                      </div>
                      <label for="is_public">Make public</label>
                    </div>

                    <button class="mdc-button mdc-button--raised form-element" id="submit">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">Submit</span>
                    </button>
                    <small id="scanstatus"></small>

                    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate mdc-linear-progress--closed" aria-label="Example Progress Bar" aria-valuemin="0" aria-valuemax="1" aria-valuenow="0">
                            <div class="mdc-linear-progress__buffering-dots"></div>
                            <div class="mdc-linear-progress__buffer"></div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                            <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar">
                                <span class="mdc-linear-progress__bar-inner"></span>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 custom-col">
            <div class="mdc-card custom-card">
                <p><strong>Last Scans</strong></p>
                <ul>
                    {% for domain in recent_scans %}
                    <li>{{ domain }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 custom-col">
            <div class="mdc-card custom-card">
                <p><strong>What is this?</strong> This service scans the TLS settings of a web server and compares it to the <a href="https://wiki.mozilla.org/Security/Server_Side_TLS" target="_blank">Mozilla TLS recommendations</a>. 
                </p>
                <p><strong>Why is there no grade?</strong> Because that is not the aim of this tool. This tool is for you if you want to achieve compliance with Mozilla's recommandations, but does not produce a grade for your CISO.</p>
                <p><strong>Why else would I use this?</strong> This tool is quite fast. A scan usually takes about 30 to 60 seconds.
                </p>
                <p><strong>But the server is overloaded!</strong> Things happen. Please set up your own (local or public) server, we provide a Docker image for you: <pre>docker run -p 8000:8000 danielfett/webtlsprofiler</pre>
                </p>
                <p><strong>How does this work?</strong> This is a <a href="https://github.com/danielfett/webtlsprofiler" target="_blank">web interface</a> for the <a href="https://github.com/danielfett/tlsprofiler" target="_blank">TLS Profiler Python package</a>, which uses the <a href="https://github.com/nabla-c0d3/sslyze" target="_blank">sslyze library</a> and other magic. We invite you to contribute to all of these tools!
                </p>
                <p><strong>Who made this?</strong>This web interface, the TLS Profiler package, and the <a href="https://github.com/danielfett/yesses" target="_blank">yesses</a> tool for which the TLS Profiler was written originally were developed by Fabian Hauck (in his Bachelor's thesis at the <a href="https://sec.uni-stuttgart.de" target="_blank">Institute for Information Security</a> at the University of Stuttgart) and <a href="https://danielfett.de" target="_blank">Daniel Fett</a> (for <a href="https://yes.com" target="_blank">yes.com</a>).
                </p>
                <p><strong>I found a bug!</strong> Great! Please <a href="https://github.com/danielfett/webtlsprofiler/issues" target="_blank">file it here</a>.
                </p>
            </div>
        </div>
    </div>
    
    {% if result and result.error %}
    <h2 class="title">Error</h2>
        <div class="row custom-row">
        <div class="col-12 col-md-6 col-xl-3 custom-col">
          <div class="mdc-card custom-card">
            {{ result.error }}
          </div>
        </div>
        </div>
        
    {% elif result %}
    
    <h2 class="title">Results</h2>
    <div class="row custom-row">
        <div class="col-12 col-md-6 col-xl-3 custom-col">
            <div class="mdc-card custom-card">
                <h3>Profile Errors</h3>
                <ul>
                {% if result.profile_errors %}
                {% for res in result.profile_errors %}
                    <li>{{ res }}</li>
                {% endfor %}
                {% else %}
                    <li>All good ;)</li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 custom-col">
            <div class="mdc-card custom-card">
            <h3>Validation Errors</h3>
                <ul>
                {% if result.validation_errors %}
                {% for res in result.validation_errors %}
                    <li>{{ res }}</li>
                {% endfor %}
                {% else %}
                    <li>All good ;)</li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 custom-col">
            <div class="mdc-card custom-card">
                <h3>Certificate Warnings</h3>
                <ul>
                {% if result.cert_warnings %}
                {% for res in result.cert_warnings %}
                    <li>{{ res }}</li>
                {% endfor %}
                {% else %}
                    <li>All good ;)</li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="col-12 col-md-6 col-xl-3 custom-col">
            <div class="mdc-card custom-card">
                <h3>Vulnerability Errors</h3>
                <ul>
                {% if result.vulnerability_errors %}
                {% for res in result.vulnerability_errors %}
                    <li>{{ res }}</li>
                {% endfor %}
                {% else %}
                    <li>All good ;)</li>
                {% endif %}
                </ul>
            </div>
        </div>
    </div>
    {% endif %}
</body>

<script>
    mdc.autoInit();
    mdc.select.MDCSelect.attachTo(document.querySelector('.mdc-select'));
    mdc.textField.MDCTextField.attachTo(document.querySelector('.mdc-text-field'));

    const profile = new mdc.select.MDCSelect(document.querySelector(".mdc-select"));
    const domain = new mdc.textField.MDCTextField(document.querySelector('.mdc-text-field'));
    const checkbox = new mdc.checkbox.MDCCheckbox(document.querySelector('.mdc-checkbox'));
    const formField = new mdc.formField.MDCFormField(document.querySelector('.mdc-form-field'));
    formField.input = checkbox;
    const progress = new mdc.linearProgress.MDCLinearProgress(document.querySelector('.mdc-linear-progress'));

    var request = 0; // use counter to prevent to many GET request if multiple scans were requested

    $("#submit").click(function() {
        domain_value = document.getElementById("domain").value;
        is_public = document.getElementById("is_public").checked;
        $.ajax({url: "start", type: "get", data: {
            domain: domain_value,
            profile: profile.value,
            is_public: is_public
        }, dataType: 'json', success: function (result) {
            if (result.error === '') {
                request++;
                progress.open();
                waitForResult(request);
            } else {
                alert(result.error);
            }
        }});
    });

    function waitForResult(i) {
        if(i === request) {
            $.ajax({
                url: "ready", type: "get", dataType: 'json', success: async function (result) {
                    if (result.finished) {
                        progress.close();
                        location.reload();
                    } else {
                        $('#scanstatus').text(result.status);
                        await new Promise(r => setTimeout(r, 2000));
                        waitForResult(i);
                    }
                }
            });
        }
    }

</script>

<style>
    body {
        background-color: #fafafa;
    }
    .custom-card {
        margin-top: 10px;
        padding: 5px;
        height: 100%;
    }
    .custom-col {
        margin-bottom: 20px;
    }
    .custom-row {
        margin-left: 1px;
        margin-right: 1px;
    }

    @media (min-width: 1901px) {
        .custom-form {
            margin-left: 20px;
            margin-top: 20px;
            margin-bottom: 0;
            max-width: 400px;
        }
     }
     @media (max-width: 1900px) {
        .custom-form {
            margin: auto;
            margin-top: 20px;
            margin-bottom: 0;
            width: 95%;
            max-width: 400px;
        }
     }

    .form-element {
        margin-bottom: 20px;
        width: 100%;
    }
    .title {
        margin-top: 25px;
        margin-left: 20px;
    }
    .custom-warning {
        padding-bottom: 0;
        margin-bottom: 0;
    }
</style>

</html>
