<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Web TLS Profiler</title>
</head>

<body>
    <h1>Web TLS Profiler</h1>
    <form action="/">
        <label for="domain">Enter domain name:</label><br>
        <input type="text" id="domain" name="domain">
        <select id="profile" name="profile">
            <option value="modern">Modern</option>
            <option value="intermediate">Intermediate</option>
            <option value="old">Old</option>
        </select>
        <br>
        <input type="submit" value="Submit">
    </form>

    <h2>Results</h2>
    <h3>Profile Errors</h3>
    <ul>
    {% if result.profile_errors %}
    {% for res in result.profile_errors %}
        <li>{{ res }}</li>
    {% endfor %}
    {% else %}
        <li>All good ;)</li>
    {% endif %}
    </ul>
    <br>
    <h3>Validation Errors</h3>
    <ul>
    {% if result.validation_errors %}
    {% for res in result.validation_errors %}
        <li>{{ res }}</li>
    {% endfor %}
    {% else %}
        <li>All good ;)</li>
    {% endif %}
    </ul>

    <br>
    <h3>Certificate Warnings</h3>
    <ul>
    {% if result.cert_warnings %}
    {% for res in result.cert_warnings %}
        <li>{{ res }}</li>
    {% endfor %}
    {% else %}
        <li>All good ;)</li>
    {% endif %}
    </ul>
    <br>
    <h3>Vulnerability Errors</h3>
    <ul>
    {% if result.vulnerability_errors %}
    {% for res in result.vulnerability_errors %}
        <li>{{ res }}</li>
    {% endfor %}
    {% else %}
        <li>All good ;)</li>
    {% endif %}
    </ul>
</body>

</html>